.map{
    color: white ;
    height: 70vh;
    width: 70%;   
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 10%


}

.location{
    width:40px;
    height:40px;
    padding-top: 13px;
    padding-bottom: 14px;
    border-radius: 20px;
    background-color: rgb(30, 106, 198);
    border: 2px solid white;
    color: white;
    font-weight: 1000;
}

h2{
    color: black;
}

.address{
    color: black;
}

.street{
    width:30%;
    margin-bottom: 1%;
}

.city{
    width:14%;
    margin-right: 1%;
    margin-bottom: 1%;

}

.zip{
    width:14%;
    margin-left: 1%;
    margin-bottom: 1%;

}
.submitBtn{
    margin-bottom: 5%;
}