.starbucks > a > img{
    width: 155%;
    margin-left:-30%
}

.dunkin > a > img{
    position: relative;
    width: 90%;
    margin-top: 25%;
    /* margin-left: 20%; */
}

.caribou > a > img{
    position: relative;
    width: 85%;
    margin-top: 23%;
    /* margin-left: 20%; */
}
