h1{
    padding-top: 5%;
}
h4{
    height: 10%;
}

.posts{
    position: relative;
    margin: auto;
}

.post{
    border: 5px solid rgba(19, 19, 155, 0.694);
    background-color: aliceblue;
    width: 40%;
    text-align: left;
    padding: 10px;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}


.new-post-button{
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.796);
    width: 30%;
    font-size: 20pt;
    font-weight: 700;
    border-radius: 5px;
}
.content{
    border: 3px solid rgba(19, 19, 155, 0.694);
    border-radius: 10px;
    height: 100px;
    padding: 10px;
}
.post-modal{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(132, 194, 255, .99);
    height: 60%;
    width: 45%;
    z-index: 6;
    box-shadow: 10px 10px 5px rgb(52, 52, 52);
    border-radius: 5px;

}

.modal-backdrop{
    top: 0%;
    left: 0%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    z-index: 5;
    overflow: hidden;
    overflow-y: scroll;

}

#postTitle{
    color:Black;
    background-color: rgb(132, 194, 255, 0);
    width: 50%;
    border: none;
    font-size: 15pt;
    margin-left: 0%;
    display:inline-block;
}

#postTitle:focus{
    outline:none;
}
#postTitle:hover{
    background-color: rgb(125, 184, 244);
}

.titleLabel{
    font-size: 15pt;
    display:inline-block;margin-right:10px;
}

.btns{
    margin: 5%;
}

.btns > button{
    margin: 1%; 
    border-radius: 3px;
    box-shadow: 0px;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.796);
    border-top: 1px solid rgba(255, 255, 255, 0.789);
    border-left: 1px solid rgba(255, 255, 255, 0.789);
    border-right: 1px solid rgba(128, 128, 128, 0.9);
    border-bottom: 1px solid rgba(128, 128, 128, 0.9);
}


.textarea{
    width: 70%;
    margin-left: 15%;
    box-shadow: 1px 1px 1px rgb(52, 52, 52);
    height: 100px;

    
}


@media (max-width: 600px) 
{
    .post{
        width: 100%;
    }
}
