

.glyphicon{
    font-size: 100px;
}


.divider{
    height: 70px;
}

.about-us{
    width: 80%;
    position: relative;
}

.Welcome{
    background-image: "../images/aroma-aromatic-bean-261463.png";
}

h4{
    font-size: 150%
}
p{
    font-size: 120%;
}
