
.jumbotron{
    height: 350px;
    background-color: burlywood;
    width:100%;
}

.App-logo{
    height: 70%;
}
  

.glyphicon-globe{
    font-size: 100px;
}

.glyphicon-thumbs-up{
    font-size: 100px;
}


.divider{
    height: 70px;
}

.about-us{
    width: 70%;
    position: relative;
    left: 10%;
}

@media (max-width: 400px) 
{
    .App-logo
    {
        width: 350px;
    }
}
.Welcome{
    background-image: "../images/aroma-aromatic-bean-261463.png";
}